@import '../../Style/partials/mixins';
@import '../../Style/partials/globalStyle';
@import '../../Style/partials/veriabls';

.sectiontwo-content-wraper {
    margin-top: -4px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    background-color: $Secondary-Color-Dark;

    @include respond-above(md) {
        flex-direction: row-reverse;

    }

    @include respond-below(md) {
        display: block;
    }

    .sectiontwo-content-img {
        img {
            width: 712px;
            height: 783px;

            @include respond-below(md) {
                width: 100%;
                height: 100%;
            }

            @include respond-between(md, lg) {
                width: 381px;
                height: 419px;

            }

        }
    }

    .sectiontwo-content-info {
        position: relative;

        @include respond-above(md) {
            margin-left: 140px;
        }

        @include respond-below(md) {
            height: 600px;
        }

        .sectiontwo-content-info-content {
            @include respond-below(md) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            * {
                margin: 60px 0;

                @include respond-between(md, lg) {
                    margin: 19px 0;
                }

                @include respond-below(md) {
                    margin: 20px 0;
                }
                @include respond-below(xs){
                    margin: 8px 0;
                }

            }

            color:$Secondary-Color-light ;

            h5 {
                font-family: "Playfair Display";
                font-weight: bold;
                font-size: 42px;

                @include respond-below(md) {
                    font-size: 28px;
                    margin-bottom: 0;
                }
            }

            P {
                width: 82%;
            }
        }

        .trip-disply-count {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 830px;
            height: 147px;

            // top: 329px;
            @include respond-above(lg) {
                top: 369px;
            }

            @include respond-between(md, xl) {
                width: 657px;
                height: 124px;

            }



            @include respond-below(md) {
                top: 407px;
                width: 35%;
                left: 50%;
                transform: translate(-50%);

            }


            z-index: 8;
            background-color: $Secondary-Color-Dark-light;

            @include respond-below(md) {
                position: absolute;
                display: flex;

                height: 207px;
                top: 329px;
                z-index: 8;
            }

            @include respond-below(xs) {
                width: 57%;
                top: 382px;

            }

            .trip-disply-count-wraper {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                width: 680px;
                height: 86px;

                @include respond-between(md, xl) {
                    width: 531px;
                }


                @include respond-below(md) {

                    flex-direction: column;

                    height: 172px;
                    align-content: center;
                    justify-content: space-between;
                }

                span {
                    color: $Secondary-Color-light;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4 {

                        font-size: 42px;
                        font-weight: 500;

                        @include respond-below(md) {
                            font-size: 28px;
                        }

                    }

                    h6 {
                        font-family: "muli";
                        font-size: 18px;
                        font-weight: 500;

                        @include respond-below(md) {
                            font-size: 15px;
                        }
                    }
                }

                hr {
                    @include respond-below(md) {
                        display: none;
                    }
                }
            }

        }

        button {
            &::before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='17.811' viewBox='0 0 22 17.811'%3E%3Cg id='Page-1' transform='translate(0 0.406)'%3E%3Cg id='Artboard' transform='translate(1 1)'%3E%3Cg id='arrow-right'%3E%3Cpath id='Shape' d='M0 6H20' transform='translate(0 1.5)' fill='none' stroke='%230a0d13' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill-rule='evenodd'/%3E%3Cpath id='Shape-2' data-name='Shape' d='M10 0l6 7.5L10 15' transform='translate(4)' fill='none' stroke='%230a0d13' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                right: -197px;

            }

            margin-top: 172px;

            @include respond-between(md, lg) {
                top: -43px;
            }

            @include respond-below(md) {
                top: -169px;
                margin-left: 53px;

            }
        }
    }
}