@import '../../Style/partials/veriabls';
@import '../../Style/partials/mixins';


// global stayle
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// a {}

li {
    list-style: none;
}

@include respond-above(md) {
    header {
        position: relative;
        z-index: 1;

        .nav-container {
            display: flex;
            justify-content: space-between;


            &.container {
                &::after {
                    content: '';


                }

                &::before {
                    content: '';
                }

                padding: 0 144px;

                background:rgba(140, 136, 136, 0.43);
                opacity: 100%;

                .nav-itmes {
                    height: 84px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .logo {
                        margin-right: 20px;
                    }

                    .nav-list {
                        display: flex;
                        align-items: center;
                        gap: 50px;

                        ul {
                            display: flex;
                            gap: 40px;

                            li {
                                color: $Secondary-Color-light;

                                &:hover {
                                    color: $Primary-Color-Dark;
                                }
                            }
                        }
                    }

                    .bar,
                    #checked {
                        display: none;
                    }
                }

            }
        }
    }
}

@include respond-below(md) {
    .nav-container {
        background: rgba(140, 136, 136, 0.43);
        width: 100%;
        overflow: hidden;

        .nav-itmes {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .bar {
                margin: 8px 23px;
                width: 30px;
            }

            .logo svg {
                width: 100px;
                cursor: pointer;
                margin-left: 18px;
            }

            .nav-list {
                height: 100vh;
                position: absolute;
                top: 55px;
                left: 100%;
                right: 0;
                bottom: 0;
                background-color: #F49F0A;
                text-align: center;
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                z-index: 999;

                ul {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    li {
                        &:hover {
                            color: $Secondary-Color-light;
                        }
                    }
                }
            }

            input {
                display: none;
            }



        }

        #checked:checked~.nav-list {
            left: 0;

        }
    }
}