@import './veriabls';
@import '../partials/mixins';
// Buttons

.button {
    border: none;
    position: relative;
    background-color: rgba(255, 255, 255, 0);

    &::before {
        content: url("data:image/svg+xml,%3Csvg id='a775bb2801f9202e26e4d4c6dc2d86aa' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='Path_2' data-name='Path 2' d='M13.354 12.325a1.029 1.029 0 1 0 1.029 1.029 1.032 1.032 0 0 0-1.029-1.029Zm0-8.325a9.354 9.354 0 1 0 9.354 9.354A9.352 9.352 0 0 0 13.354 4ZM15.4 15.4 7.742 18.967l3.564-7.661 7.661-3.564Z' transform='translate(-1.354 -1.354)' fill='%230a0d13'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M0 0H24V24H0Z' fill='none'/%3E%3C/svg%3E");
        bottom: -50px;
        right: 250px;
    
        
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 1;
        background-color: $Primary-Color-light;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        @include respond-below(md){
        
            bottom: -35px;
        
            width: 35px;
            height: 35px;
            left: 96px;
            position: absolute;
            z-index: 1;
            background-color: #F49F0A;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }

    &::after {

        content: "Explore more";
        font-family: "Mulish";
        font-size: 16px;
        @include respond-below(md) {
            font-size: 12px;
        }

        font-weight: 600;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $Primary-Color-Dark;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 147px;
        height: 50px;
        @include respond-below(md){
            width: 96px;
            height: 35px;
        }
    }

}
// global style >>
@include respond-above(md){
   .container{
     margin: 0 144px;
} 
}

 @include respond-below(md){
    .container{
        margin: 0 35px;
    }
 }
 hr{
    height: 37px;
    width: 0px;
    color: #2B313C;
 }